/*
    This defines if there will be Functions allowed
*/
FunctionsActive=true;
FunctionIdentifier=();
FunctionBodyOpen={;
FunctionBodyClose=};
ConditionsActive=true;
ConditionFunction=if;
ConditionFunctionSeparatorOpen=(;
ConditionFunctionSeparatorClose=);
ShellMode=Action,Type,Parameters;
ReferenceChar=&;
PointerChar=*;
GlobalVariableChar=@;
AllowBreaks=true;
BreakFunction=break,return,exit;